@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;900&display=swap');
.team-img img{
	width:100%;
	filter:grayscale(100%);
}
.team-wrapper:hover .team-img img{
	filter:grayscale(0);
}
.progress {
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
}
h1,h2,h3,h4{
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	font-weight:700;
	
}
.portfolio-single img{
	width:100%;
}
.portfolio-menu button{
	margin-top:10px;
	margin-bottom:10px;
	background:#505cfd;
	color:#fff;
	border:none;
	padding:5px 10px;
}
.portfolio-menu button.active{
	background:red;
}
.team-single img {
    width: 100%;
}
.team-icon{
	color:Red;
}
.team-member {
    position: relative;
}
.team-icon {
    color: blue;
    position: absolute;
    bottom: 0;
    /* top: 0; */
    right: 0;
    left: 0;
    text-align: center;
}
.team-single:before {
    width: 100%;
    content: "";
    background:aqua;
    height: 100%;
    position: absolute;
	transition:.3s;
	visibility:hidden;
	opacity:0;
}
.team-single:hover.team-single:before{
	visibility:visible;
	opacity:.3;
}
.blog-content:{
	position:relative;
}
.blog-text h4:before{
	position:absolute;
	content:"";
	background:#000;
	height:2px;
	width:7%;
	top:75%;
	bottom:0;
	text-align:center;
	margin:auto;
	transition:.6s;
}
.blog-text h4:hover:before{
	width:17%;
}
.zoom-img img{
	width:100%;
}
.contact-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    border: 1px solid #ddd;
    height: 50px;
    /* color: red; */
}
.contact-form textarea {
    width: 100%;
    padding: 0 15px;
    border: 1px solid #ddd;
    height: 100px;
    margin-bottom: -5px;
}
.contact-form button {
    width: 40%;
    padding: 5px 14px;
    border: 1px solid #ddd;
    background: #505cfd;
    color: white;
    font-size: 15px;
    float: right;
}
.profile-img img {
    width: 100%;
}
.profile-img {
    position: relative;
}
.profile-img img.secendary-img {
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	opacity:0;
}
.profile-img img:hover.secendary-img{
	opacity:1;
}